<div id="public_cartitem_index_wrap">
    <div id="public_cartitem_index_h2_wrap"> 
        <div>
            <h2>ショッピングカート</h2>
        </div>
        <div>
            <p><%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか?"}%></p>
        </div>
    </div>
    <div id="public_cartitem_index_table_wrap">
        <table border="1">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @sum = 0 %>
                <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td>
                            <%= cart_item.item.name %>
                        </td>
                        <td>
                            <%= (cart_item.item.price * 1.1).floor %>
                        </td>
                        <td>
                            <%= form_with model:cart_item, url: cart_item_path(cart_item.id), local:true do |f| %>
                                <%= f.number_field :amount, placeholder: "個数選択",  min: 1, max: 20 %>
                                <%#= f.number_field :メソッド(送りたいカラム), placeholder: "",  min: 最小値, max: 最大値 %>
                                <!--数値を送る方法-->
                                <%= f.submit "変更", class: "btn btn-success" %>
                            <% end %>
                        </td>
                        <td>
                            <%= (cart_item.item.price * 1.1).floor * cart_item.amount %>
                            <% @sum += (cart_item.item.price * 1.1).floor * cart_item.amount %>
                            <!--↑合計金額を繰り返し処理で足している。表示させない。-->
                        </td>
                        <td>
                            <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
        
    <div id="public_cartitem_index_inside_lowwer_wrap">
        <div id="public_cartitem_index_inside_lowwer_continue">
            <%= link_to "買い物を続ける", show_path, class: "btn btn-primary" %>
        </div>
        <div id="public_cartitem_index_inside_lowwer_table">
            <table border="1">
                <tbody>
                    <tr>
                        <th>合計金額</th>
                        <td>
                            <%= @sum %>
                            <!--合計金額の表示のさせ方注意-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="public_cartitem_index_infoinput">
        <p><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %></p>
    </div>
</div>