<div id="public_address_edit_wrap">
    <div id="public_addresses_edit_h2_wrap">
        <h2 id="public_addresses_edit_h2">配送先編集</h2>
    </div>

    <div id="public_addresses_edit_table_wrap">
        <%= form_with model:@address, url: address_path, local:true do |f| %>
            <p class="error_notice"><%= flash[:error] %></p>
            <table id="public_addresses_edit_firsttable">
                <tr>
                    <th><%= f.label :郵便番号（ハイフンなし） %></th>
                    <th><%= f.text_field :postal_code, :placeholder => "0000000" %></th>
                </tr>
                <tr>
                    <th><%= f.label :住所 %></th>
                    <th><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神南町0-0", :size=>"60" %></th>
                </tr>
                <tr>
                    <th><%= f.label :宛名 %></th>
                    <th> <%= f.text_field :name, :placeholder => "令和道子" %></th>
                </tr>
            </table>
            <p id="public_addresses_edit_firsttable_p"><%= f.submit "変更内容を保存", class: "btn btn-success"%></p>
        <% end %>
    </div>
</div>