<div id="public_addresses_index_wrap">
    <div id="public_addresses_index_h2_wrap">
        <h2 id="public_addresses_index_h2">配送先登録/一覧</h2>
    </div>

    <div id="public_addresses_index_table_wrap">
        <%= form_with model:@address, url: addresses_path, local:true do |f| %>
            <p class="sucess_noice"><%= flash[:notice] %></p>
            <p class="error_notice"><%= flash[:error] %></p>
            <table id="public_addresses_index_firsttable">
                <tr>
                    <th><%= f.label :郵便番号（ハイフンなし） %></th>
                    <td><%= f.text_field :postal_code, :placeholder => "0000000", class: "public_addresses_index_firsttable_td" %></td>
                </tr>
                <tr>
                    <th><%= f.label :住所 %></th>
                    <td id="public_addresses_index_firsttable_address_format"><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神南町0-0", :size=>"60", class: "public_addresses_index_firsttable_td"%></td>
                </tr>
                <tr>
                    <th><%= f.label :宛名 %></th>
                    <td id="public_addresses_index_firsttable_td">
                        <div>
                            <%= f.text_field :name, :placeholder => "令和道子", class: "public_addresses_index_firsttable_td"%>
                        </div>
                        <div>
                            <%= f.submit " 新規登録する", class: "btn btn-success"%>
                        </div>
                    </td>
                </tr>
            </table>
        <% end %>

        <table border="1" id="public_addresses_index_secondtable">
            <thead>
                <tr>
                    <th class="table-secondary" height="40">郵便番号</th>
                    <th class="table-secondary" height="40">住所</th>
                    <th class="table-secondary" height="40">宛名</th>
                    <th class="table-secondary" height="40"></th>
                </tr>
            </thead>
            <tbody>
                <% @addresses.each do |address| %>
                    <tr>
                        <td>
                            <%= address.postal_code %>
                        </td>
                        <td>
                            <%= address.address %>
                        </td>
                        <td>
                            <%= address.name %>
                        </td>
                        <td id="public_addresses_index_secondtable_edit_delete">
                            <p><%= link_to "編集", edit_address_path(address.id), class: "btn btn-success"%></p>
                            <p><%= link_to "削除", address_path(address.id), method: :delete, class: "btn btn-danger"%></p>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>