<div id="admin_item_index_wrap">
    <div id="admin_item_index_title_wrap">
        <div id="admin_item_index_h2_div">
            <h2>商品一覧</h2>
        </div>
        <%= link_to new_admin_item_path do %>
            <i class="fas fa-plus-circle fa-2x"></i>
        <% end %>
    </div>

    <p class="error_notice"><%= flash[:error] %></p>

    <table id="admin_item_index_table">
        <thead>
            <tr>
                <th class="table-secondary">商品ID</th>
                <th class="table-secondary">商品名</th>
                <th class="table-secondary">税抜き価格</th>
                <th class="table-secondary">ジャンル</th>
                <th class="table-secondary">ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @items.each do |item| %>
                <tr>
                    <td><%= item.id %></td>
                    <td>
                        <%= link_to admin_item_path(item.id) do %>
                            <%= item.name %>
                        <% end %>
                    </td>
                    <td><%= item.price %></td>
                    <td><%= item.genre.name %></td>
                    <td>
                        <% if item.is_active == "販売中"%>
                            <p id="admin_item_index_table_onsell"><%= item.is_active %></p>
                        <% else %>
                            <p id="admin_item_index_table_offsell"><%= item.is_active %></p>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
     <%= paginate @items %>
</div>
