<div id="admin_item_new_wrap">
  <div id="admin_item_new_h2_wrap">
    <h2>新規商品登録</h2>
  </div>

  <div id="admin_item_new_table_wrap">
    <%= form_with model:@item, url: admin_items_path, local:true do |f| %>
        <%= flash[:error] %>
        <table>
          <tr>
            <th><%= f.label :商品画像 %></th>
            <td><%= f.attachment_field :image %></td>
          </tr>
        
        <tr>
          <th><%= f.label :商品名  %></th>
          <td><%= f.text_field :name, size: 30 %></td>
        </tr>
        
        <tr>
          <th><%= f.label :商品説明 %></th>
          <td><%= f.text_area :introduction, size: "29x10" %></td>
        </tr>
        
        <tr>
          <th><%= f.label :ジャンル %></th>
          <td><%= f.collection_select(:genre_id, @genres, :id, :name) %></td>
          <%#= f.collection_select(:カラム名(メソッド名), コントローラーにてallしてデータを持ってくる, :DBに送る値　, :表示させたい文字)　%>
        </tr>
      
      <tr>
          <th><%= f.label :税抜き価格 %></th>
          <td><%= f.text_field :price, size: 30 %><td>
        </tr>
      
        <tr>
          <th><%= f.label :販売ステータス %></th>
          <td>
              <label><%= f.radio_button :is_active, "販売中" %><span id="admin_item_new_table_span">販売中</span></label>
              <label><%= f.radio_button :is_active, "販売停止" %>販売停止</label>
              <%#= f.radio_button :カラム名, 送りたい値 %>
          </td>
        </tr>
        
        <tr>
          <th></th>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>
        </table>
    <% end %>
  </div>
</div>
