<h2>新規商品登録</h2>

<%= form_with model:@item, url: admin_items_path, local:true do |f| %>
    <%= flash[:error] %>
    <table>
      <tr>
        <th><%= f.label :商品画像 %></th>
        <td><%#= f.attachment_field :image %></td>
      </tr>
    
    <tr>
      <th><%= f.label :商品名  %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    
    <tr>
      <th><%= f.label :商品説明 %></th>
      <td><%= f.text_field :introduction %></td>
    </tr>
    
    <tr>
      <th><%= f.label :ジャンル %></th>
      <td><%= f.collection_select(:genre_id, @genres, :id, :name) %></td>
      <%#= f.collection_select(:カラム名(メソッド名), コントローラーにてallしてデータを持ってくる, :DBに送る値　, :表示させたい文字)　%>
    </tr>
  
   <tr>
      <th><%= f.label :税抜き価格 %></th>
      <td><%= f.text_field :price %><td>
    </tr>
  
    <tr>
      <th><%= f.label :販売ステータス, '下書き' %></th>
      <td>
          <label><%= f.radio_button :is_active, "販売中" %>販売中</label>
          <label><%= f.radio_button :is_active, "販売停止" %>販売停止</label>
          <%#= f.radio_button :カラム名, 送りたい値 %>
    　</td>
    </tr>
    
    <tr>
      <th></th>
      <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
    </tr>
    </table>
<% end %>