<h2>注文情報入力</h2>


<%= form_with model:@order, url: confirm_path, local:true do |f| %>
    <div>
        <label>支払い方法</label>
        <p><%= f.radio_button :payment_method, 0 %>クレジットカード</p>
        <p><%= f.radio_button :payment_method, 1 %>銀行振り込み</p>
    </div>
    
    <div>
        <label>お届け先</label>
        <div>
            <p><%= f.radio_button :address_option, 0 %>ご自身の住所</p>
            <p>
                〒<%= current_customer.postcode %><%= current_customer.address %><br>
                <%= current_customer.last_name %><%= current_customer.first_name %>
            </p>
        </div>
        
        <div>
            <p><%= f.radio_button :address_option, 1 %>登録済みの住所</p>
            <p><%= f.collection_select(:address_id, current_customer.addresses, :id, :address_detail) %></p>
            <!--1つ目はは送られるkey、３つ目はvalue、4つ目の引数はorder.rbのメソッドを使用。-->
        </div>
        
        <div>
            <p><%= f.radio_button :address_option, 2 %>新しいお届け先</p>
            <table>
                <tr>
                    <th><%= f.label :郵便番号（ハイフンなし） %></th>
                    <th><%= f.text_field :postal_code, :placeholder => "0000000" %></th>
                </tr>
                <tr>
                    <th><%= f.label :住所 %></th>
                    <th><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神南町0-0" %></th>
                </tr>
                <tr>
                    <th><%= f.label :宛名 %></th>
                    <th><%= f.text_field :name, :placeholder => "令和道子" %></th>
                </tr>
          </table>
        </div>
    </dov>
    
    <%= f.submit "確認画面へ進む", class: "btn btn-primary"%>
<% end %>