<div id="admin_session_new_wrap">
  <div id="admin_session_new_h2_wrap">
    <h2>管理者ログイン</h2>
  </div>

  <div id="admin_session_new_main_wrap">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <th>
            <%= f.label :メールアドレス %>
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :パスワード %>
          </th>
          <td>
            <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.submit "ログイン", class: "btn btn-primary admin_session_new_submit" %>
          </td>
        </tr>
    <% end %>
  </div>
</div>