<div id="public_top_wrap">
  <p class="sucess_noice"><%= flash[:notice] %></p>
  <p class="error_notice"><%= flash[:error] %></p>
  <div id="public_top_inside_wrap">
    <div id="public_top_genre">
      <h4>ジャンル検索</h4>
      <div>
        <% @genres.each do |genre| %>
          <p>
            <%= link_to search_path(order_sort: 0, search: genre.id) do %>
              <%= genre.name %>
            <% end %>
          </p><br>
        <% end %>
      </div>
    </div>
    <div id="public_top_main">
      <div id="public_top_main_intro">
        <p>
          <b>
          ようこそ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録になります。
          </b>
        </p>
      </div>
      <div id="public_top_main_item">
        <h4>新着商品</h4>
        <div id="public_top_main_item_outer">
          <% @items.each do |item| %>
            <div>
              <%= attachment_image_tag item, :image, :fill, 170, 100, format: 'jpeg' %>
              <%= link_to item_path(item.id) do %>
                <p><b><%= item.name %></b></p>
              <% end %>
              <p><b>¥<%= item.price %></b></p>
            </div>
          <% end %>
        </div>
        <p id="public_top_main_item_all"><%= link_to "すべての商品を見る", items_path %></p>
      </div>
    </div>
  </div>
</div>