<div id="customer_show_table">
    <table class="table" border="1">
        <thead>
            <tr>
                <th class="table-secondary">会員ID</th>
                <th class="table-secondary">氏名</th>
                <th class="table-secondary">メールアドレス</th>
                <th class="table-secondary">ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @customers.each do |customer| %>
                <tr>
                    <td>
                        <%= customer.id %>
                    </td>
                    <td>
                        <%= customer.last_name %><%= customer.first_name %>
                    </td>
                    <td>
                        <%= customer.email %>
                    </td>
                    <td>
                        <%= customer.is_subscribed %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>