<div id="order_detail_show_wrap">
    <div id="order_detail_show_h2_wrap">
        <h2 id="order_detail_show_h2">注文履歴詳細</h2>
    </div>
    <table id="order_detail_show_table_first">
        <tr>
            <th>購入者</th>
            <td><%= @order.customer.last_name%><%= @order.customer.first_name %></td>
        </tr>
        <tr>
            <th>注文日</th>
            <td><%= @order.created_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
            <th>配送先</th>
            <td>
                <%= @order.postal_code %><%= @order.address %><br>
                <%= @order.name %>
            </td>
        </tr>
        <tr>
            <th>支払い方法</th>
            <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
            <th>注文ステータス</th>
            <td>
                <%= form_with model:@order, url: admin_order_path, local:true do |f| %>
                    <%= f.select :status, Order.statuses_i18n.invert %>
                    <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
            </td>
        </tr>
    </table>
    
    <div id="order_detail_show_table_div">
        <table id="order_detail_show_table_second">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>製作ステータス</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @order_details.each do |order_detail| %>
                    <tr>
                        <td><%= order_detail.item.name %></td>
                        <td><%= order_detail.price %></td>
                        <td><%= order_detail.amount %></td>
                        <td><%= (order_detail.price) * (order_detail.amount) %></td>
                        <td>
                            <%= form_with model:order_detail, url: admin_order_detail_path(order_detail.id), local:true do |f| %>
                                <%= f.select :makeing_status, OrderDetail.makeing_statuses_i18n.invert %>
                        </td>
                        <td>
                                <%= f.submit "更新", class: "btn btn-success" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        
        
        <table id="order_detail_show_table_third">
            <tr>
                <th>商品合計</th>
                <td><%= @order.total_payment %></td>
            </tr>
            <tr>
                <th>送料</th>
                <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
                <th>請求金額合計</th>
                <td><b><%= (@order.total_payment) + (@order.shipping_cost) %></b></td>
            </tr>
        </table>
    </div>
</div>