<div id="public_item_index_wrap">
    <div id="public_item_index_inside_wrap">
        <div id="public_item_index_genre">
            <p>ジャンル検索</p>
            <div>
                <% @genres.each do |genre| %>
                    <%= genre.name %><br>
                <% end %>
            </div>
        </div>
        <div id="public_item_index_main">
            <div>
                <h2><b>商品一覧</b></h2>
                <p>(全<%= @items.count %>件)</p>
            </div>
            <table id="public_item_index_table">
                <tbody id="public_item_index_table_tbody">
                    <% @items.each do |item| %>
                        <tr id="public_item_index_table_tbody_tr">
                            <td>
                                <%= attachment_image_tag item, :image, :fill, 170, 100, format: 'jpeg' %>
                                    <% if customer_signed_in? %>
                                        <%= link_to item_path(item.id) do %>
                                            <p id="public_item_index_table_p">
                                                <%= item.name %>
                                            </p>
                                        <% end %>
                                    <% else %>
                                        <%= item.name %>
                                    <% end %>
                                <div>
                                    <b>￥<%= item.price %></b>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<div>
 
<script src="public_index.js"></script>