<div>
    <h4><%= @item.name %></h4>
    <p><%= @item.introduction %></p>
    <p>￥<%= @item.price * 1.1 %>(税込)</p>
    <%#= f.number_field %>
    <%= form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.number_field :amount, placeholder: "個数選択",  min: 1, max: 20 %>
        <%#= f.number_field :メソッド(送りたいカラム), placeholder: "",  min: 最小値, max: 最大値 %>
        <!--数値を送る方法-->
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
    <% end %>
</div>