<h4>会員情報編集</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "publics/shared/error_messages", resource: resource %>
    
    <table>
      <tr>
        <th><%= f.label :氏名 %></th>
        <td><%= f.text_field :first_name %><%= f.text_field :last_name %></td>
      </tr>
    
    <tr>
      <th><%= f.label :フリガナ  %></th>
      <td><%= f.text_field :first_name_kana %><%= f.text_field :last_name_kana %></td>
    </tr>
    
    <tr>
      <th><%= f.label :郵便番号 %></th>
      <td><%= f.text_field :postcode %></td>
    </tr>
    
    <div class="field">
      <%= f.label :住所 %>
      <%= f.text_field :address, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :電話番号 %>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    </table>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  
    <div class="actions">
      <%= f.submit "登録内容を保存" %>
    </div>
  <% end %>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "本当に策書しますか？" }, method: :delete %>

